body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 2px;
  background-color: #5faad8;
  color: white;
}
button {
  border: none;
}

input {
  width: 210px;
}

.delete {
  background-color: white;
  border: 1px solid #5faad8;
  color: #5faad8;
  border-radius: 2px;
}
